@mixin btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
  background: $terciary-color;
  letter-spacing: 0.1rem;
}
@mixin reset-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  letter-spacing: 0.1rem;

}

@mixin menu-link($px) {
    color: $text-color;
    font-weight: map-get($font-weights, bold);
    text-decoration: none;
    z-index: 3;
    position: relative;
    padding-bottom: 2px;
    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      left: 0;
      height: 26px;
      background-color: #C5E6FB;
      width: 0%;
      display: block;
      transition: width .3s ease-in-out;
      bottom: $px;
    }
}
//@mixin menu-link-after {}

@mixin input-form {
  padding: 0.6rem 2.5rem 0.6rem 0.6rem;
  width: 100%;
}

@mixin link-style($weight) {
  text-decoration: none;
  color: $text-color;
  font-weight: $weight;
}

@mixin link-hover {
  &:hover {
    text-decoration: $hover-classic-link;
    color: $primary-color;
  }
}

@mixin visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}
