@mixin btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
  background: $terciary-color;
  letter-spacing: 0.1rem;
}
@mixin reset-btn {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  letter-spacing: 0.1rem;

}

@mixin menu-link {
  color: $text-color;
    font-weight: map-get($font-weights, bold);
    text-decoration: none;
    z-index: 3;
    position: relative;
    padding-bottom: 2px;
}
@mixin menu-link-after {
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  height: 26px;
  background-color: #C5E6FB;
  width: 0%;
  display: block;
  transition: width .3s ease-in-out;
}

@mixin input-form {
  padding: 0.6rem 2.5rem 0.6rem 0.6rem;
  width: 100%;
}

@mixin link-style($weight) {
  text-decoration: none;
  color: $text-color;
  font-weight: $weight;
}

@mixin link-hover {
  &:hover {
    text-decoration: $hover-classic-link;
    color: $primary-color;
  }
}