@mixin btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
  background: $terciary-color;
  letter-spacing: 0.1rem;
}

@mixin input-form {
  padding: 0.6rem 2.5rem 0.6rem 0.6rem;
  width: 100%;
}

@mixin input-form-small {
  width: 100%;
  max-width: 500px;
  margin: 0;
  padding: 0.5rem 1rem;
}

@mixin link-style($weight) {
  text-decoration: none;
  color: $text-color;
  font-weight: $weight;
}

@mixin link-hover {
  &:hover {
    text-decoration: $hover-classic-link;
    color: $primary-color;
  }
}