$logo-color: #FE2D02;
$primary-color: #A21C01;
$secondary-color: #EFF8FE;
$terciary-color: #BDD5EA;
$text-color: #3E516F;
$second-text-color: #333D48;
$light-background: white;
$medium-light-background: hsla(211, 0%, 70%, 0.2);
$error: #970C0C;
$valid: #0BC10B;
$focus-indicator: #0000FF;
$focus-indicator-offset: 12px;
$primary-btn-shadow: 2px 1px 5px 1px scale-color($text-color, $saturation: 30%);
$hover-classic-link: underline;
$xxs-breakpoint: 300px;
$xsmall-breakpoint: 415px;
$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;

$font-sizes: (
    "heading2": 1.6em,
    "normal": 1em,
    "medium": 1.2em,
);
$font-weights: (
    "normal": 400,
    "bold": 500,
    "bolder": 600,
);
