@import "~normalize.css";
@import "@/scss/_variables.scss";
@import '@/scss/_mixins.scss';
body {
    margin: 0;
    box-sizing: border-box;
}
#app {
  font-family: 'Rubik', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}
.form {
  padding-top: 2rem;
  &_group {
    padding-bottom: 2rem;
    &_input-div {
      width: 100%;
      position: relative;
      input {
      @include input-form;
      box-sizing: border-box;
     }
    }
  }
}
//form update info successufully chnaged
.success {
  @include profile-modified($valid);
  background-color: lighten($valid, 55%);
  .success-p {
   @include success-msg;
  }
}
//successfully deleted
.success-deleted {
  @include profile-modified($error);
  background-color: lighten($error, 65%);
  .delete-p {
    @include success-msg;
  }
}
//for the validation form input
 .error-msg {
  color: $error;
}
input.error {
  border: solid 2px $error;
}
input.valid {
  border: solid 2px $valid;
}
//in the password input
.show-password {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 1.3rem;
  background: none;
  color: inherit;
  border: none;
  outline: inherit;
  cursor: pointer;
  padding : 0;
  &:focus {
    outline-width: 2px;
    outline-style: solid;
    outline-color: $text-color;
    padding: 1px;
  }
}
.btn {
  @include btn;
  &:hover, &:focus {
    box-shadow: $primary-btn-shadow;
  }
}
.btn-div {
  text-align: center;
}
//Heading in Home page and user content
.content_heading {
  text-align: center;
  margin-top: 3rem;
}